<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="pt_DEVELOPERTOOLS">
            <SUBMENU id="pt_LOGVIEWER_MENUITEM" cl="pt_LogViewer"></SUBMENU>
            <SUBMENU id="pt_CLEARCACHE_MENUITEM" cl="pt_ClearTmp"></SUBMENU>
            <SUBMENU id="pt_UPDATEVIEW_MENUITEM" cl="pt_UpdateView"></SUBMENU>
            <SUBMENU id="pt_DEVELOPERTOOL_MENUITEM" cl="pt_Credits"></SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
